<ion-view id="launchlist" view-title="LaunchList">

  <ion-nav-bar class="bar-pink">

    <ion-nav-back-button> </ion-nav-back-button>

    <ion-nav-buttons side="right">
      <button class="button button-icon button-black ion-navicon" menu-toggle="right"></button>
    </ion-nav-buttons>

  </ion-nav-bar>


  <ion-content>

    <h1 class="center launchlist-name">{{ launchlist.name || 'LuanchList' }}</h1>
    <p>{{ launchlist.description }}</p>

	<ion-list class="launchlist">

      <ion-item ng-click="" ng-repeat="obj in launchlist.list_objects | orderBy:'order'" class="{{ obj.type }} item checklist">

        <div ng-switch="obj.type">

          <div ng-switch-when="heading" class="heading-wrapper">
            <h3 class="heading"> {{ obj.item.value }} </h3>
            <p> {{ obj.item.description }} </p>
          </div>

          <div ng-switch-when="launchlist" class="child-list">

            <ion-checkbox ng-model="isChecked">

              <h3> {{ obj.item.name }} </h3>
              <p> {{ obj.item.description }} </p>

            </ion-checkbox>

            <a class="overlay" href="#/launchlists/{{obj.id}}" target="_blank"></a>


          </div>

          <div ng-switch-when="resource" class="resource">

            <ion-checkbox ng-model="isChecked">

              <h3> {{ obj.item.name }} </h3>
              <p class="item-description"> {{ obj.item.description }} </p>
              <p ng-if="obj.item.source" class="item-source">source: <label>{{ obj.item.source }}</label></p>

            </ion-checkbox>

            <a class="overlay" href="{{obj.item.link}}" target="_blank"></a>

          </div>

        </div>

      </ion-item>

    </ion-list>


  </ion-content>

</ion-view>
