<ion-view view-title="Topic">

  <ion-nav-bar class="bar-pink">

    <ion-nav-back-button> </ion-nav-back-button>

    <ion-nav-buttons side="right">
      <button class="button button-icon button-black ion-navicon" menu-toggle="right"></button>
    </ion-nav-buttons>

  </ion-nav-bar>


  <ion-content>

    <h1 class="center">{{ topic.name || 'Topic' | capitalize }}</h1>
    <p>{{ topic.description }}</p>

	<ion-list class="launchlist">

      <ion-item ng-click="loadLaunchlistList( launchlist )" ng-repeat="launchlist in topic.launchlists_objects" href="#/launchlists/{{launchlist.id}}">

        <h3> {{ launchlist.name }} </h3>
        <p> {{ launchlist.description }} </p>

      </ion-item>

    </ion-list>


  </ion-content>

</ion-view>
