/* Empty. Add your own CSS if you like */
a.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.button-wide {
	width: 100%;
}

h1.center, h2.center, h3.center {
	text-align: center;
}

.item-header h2 {
	font-size: 20px;
	line-height: 50px;
}


.heading.item {
  background-color: #ccc;
	cursor: default !important;
}
.heading.item h3 {
	font-size: 17px;
  font-weight: bold;
}

.resource.item {
  background-color: rgba(17, 193, 243, 0.13);
}

.launchlist.item {
  background-color: rgba(255, 201, 0, 0.11);
}


div.tag-bar {
    display: block;
}

a.button.tag {
	font-size: 12px;
	padding: 1px 5px;
	display: block;
	float: left;
	margin: 4px 8px;
	width: auto;
	/* height: 20px; */
	transition: 1s ease all;
	border-radius: 0;
}

a.button.tag:hover {
	transform: scale( 1.1 );
}

a.button.tag.selected {
	background-color: #28a54c;
}
