/* Empty. Add your own CSS if you like */
a.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

div.center {
	text-align: center;
}
.center-text {
	text-align: center;
}

.button-wide {
	width: 100%;
}
.button-half {
  width: 50%;
  margin: 0 auto;
}
.button-half {
  width: 25%;
  margin: 0 auto;
}
.button-black {
	color: black;
	border-color: black;
}

h1.center, h2.center, h3.center {
	text-align: center;
}

.item-header h2 {
	font-size: 20px;
	line-height: 50px;
}


.heading.item {
  background-color: #ccc;
	cursor: default !important;
}
.heading.item h3 {
	font-size: 17px;
  font-weight: bold;
}


div.tag-bar {
    display: block;
}
/* .button-bar > .button:first-child a.button.tag,
.button-bar > .button:first-child a.button.tag, */
.button-bar a.button.tag {
	font-size: 12px;
	padding: 1px 5px;
	display: block;
	float: left;
	margin: 4px 8px;
	width: auto;
	/* height: 20px; */
	transition: 1s ease all;
	border-radius: 0;
}

a.button.tag:hover {
	transform: scale( 0.9 );
	background-color: #cc0066;
/* 	font-size: 12px; */
}

a.button.tag.selected {
	background-color: #28a54c;
}

ion-view ion-content {
	background-color: #bdc3c7;
}

.bar-transparent.bar.bar-header {
  border: none;
}
.bar-transparent {
	background-color: transparent;
}
.bar-black  {
	background-color: black;
	border-color: black;
	color: white;
}
.bar-black .back-button,
.bar-black .menu-button  {
	color: white;
}
.bar.bar-pink {
  border-color: #cc0066;
  background-color: #cc0066;
  background-image: linear-gradient(0deg, #28a54c, #28a54c 50%, transparent 50%);
  color: #fff;
}
.bar-pink .button.back-button,
.bar-pink .button.back-button span {
	color: #fff;
}

.pull-left {
	float: left;
}
.pull-right {
	float: right;
}

/**
 * Neon theme
 * Colors:
 * title, pink: #db0a5b
 * box shadow, gray: #808386 or #5d5d5f
 * input background, gray: #d2d7d3
 * placeholder text, gray: #abb7b7
 * button text color, gray: #abb7b7
 * button background, gray: #5e6464
 * button border, pink: #780532
 *                   websafe - old colors
 Strong pink:      #cc0066 - #db0a5b
 Dark gray:        #999999 - #808386
 Light gray:       #cccccc - #d2d7d3
 Desaturated cyan: #99cccc - #abb7b7
 Very dark gray:   #666666 - #5e6464
 Very dark pink:   #660033 - #780532
 */
.neon {
	font-size: 18px;
}
.neon span {
	color: #a3a3a3;
	font-weight: bold;
}
.neon input.ng-invalid {
	color: red;
	border-bottom: 2px solid red;
}
.neon.modal a {
	background-color: transparent;
	color: #db0a5b;
	font-weight: bold;
	transition: 1s;
}
.neon.modal a:hover {
	color: white;
	background-color: #3b0218;
	box-shadow: #db0a5b 0 0 10px;
}
.neon.modal a:hover::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: white;
}
.neon.modal a:hover::-moz-placeholder { /* Firefox 19+ */
	color: white;
}
.neon.modal a:hover:-ms-input-placeholder { /* IE 10+ */
	color: white;
}
.neon.modal a:hover:-moz-placeholder { /* Firefox 18- */
	color: white;
}
.neon.modal .row {
	margin-bottom: 10px;
}

/**
 * Neon theme - menu
 */
/** ionic overrides **/
.neon input:checked:before,
.neon .checkbox input:checked + .checkbox-icon:before {
  background: black;
	/*border: none;*/
  border-color: #000000;
}
/*.neon .checkbox-icon {
	transition: 0.5s;
}*/

/** sidemenu **/
.neon.menu {
	/*background-image: url(/img/starybackground.png);*/
	background-color: black;
}
.neon.navmenu ion-content,
.neon.navmenu ion-header-bar,
.neon.navmenu .sidemenu-btns .item {
	background-color: transparent;
	border: none;
}
.neon.navmenu ion-header-bar {
	/*min-height: 50px;*/
}
.neon.navmenu .sidemenu-btns .item {
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-shadow: #db0a5b 1px 0px 1px, #db0a5b 0px -1px 0px, #db0a5b -1px 0px 0px, #db0a5b 0px 1px 0px;
	padding-top: 28px;
	padding-bottom: 28px;
	border: 2px dashed #db0a5b;
	border-right: none;
	border-left: none;
	text-align: center;
	transition: 5s;
}
/* TODO: make navbar btns jucy */
.neon.navmenu .sidemenu-btns .item:hover {
	background-color: black;
}
.neon.navmenu .sidemenu-btns .item a {
	background-color: transparent;
	text-align: center;
	padding: 0;
}
.neon #searchbar {
	background-color: transparent;
	border: 3px solid #db0a5b;
	max-width: 200px;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 2px;
}
.neon #searchbar input {
	padding-right: 0px;
	color: white;
}
.neon #searchbar .icon {
	padding-left: 0px;
}


/**
 * Neon theme - Sub Pages
 */
.neon h1, h2, h3, h4 {
	font-family: serif;
}
.neon p {
	font-family: serif;
}
.neon ion-view ion-content {
	background-color: black;
	color: white;
}
.neon .button-stable {
	border: 1px solid black;
}
.neon .checklist.item .heading {
	padding: 16px;
}
.neon .checklist.item {
	padding-left: 0;
	padding-right: 0;
	padding: 0;
	margin: 0;
}
.neon .checklist.item .item {
	background-color: transparent;
}
.neon .checklist label.item.item-checkbox {
	margin: 0;
	border: none;
}
.neon .checklist a.overlay {
	left: 60px;
}
.neon .launchlists .item,
.neon .resources .item,
.neon .topics .item,
.neon .launchlist .item {
	/*background-color: #ccc;*/
	transition: 0.5;
	border-color: black;
	margin-top: 1px;
	margin-bottom: 1px;
}
/*.neon .launchlists .item a,
.neon .resources .item a,
.neon .topics .item a,
.neon .launchlist .item a {
	background-color: transparent;
}*/
.neon .item.heading {
	background-color: #666666;
	background: linear-gradient(180deg, #cc0066, purple);
}
.neon .item.heading .heading {
	color: white;
}
.neon .item.resource {
  background-color: linear-gradient(pink, purple);
}
.neon .item.launchlist {
  background-color: #e8b3ce;
}
.neon .item.resource:hover,
.neon .item.topic:hover,
.neon .item.launchlist:hover {
	background-color: rgba(255, 255, 255, 0.8);
}


/**
 * Neon theme - home
 */
.neon#homepage {
	background-color: black;
	background-image: url( "/img/starybackground.png" );
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	font-size: 16px;
}
.neon#homepage img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}
.neon#homepage a.clickable {
	transition: 1s;
	display: block;
}
.neon#homepage a.clickable:hover {
	transform: scale( 1.2 );
	opacity: 0.9;
}
.neon#homepage ion-content,
.neon#homepage ion-nav-bar {
	background-color: transparent;
	border-color: transparent;
}
/*.neon#homepage ion-nav-bar,
.neon#homepage ion-nav-bar .nav-bar-block,
.neon#homepage ion-header-bar,
.neon#homepage ion-header-bar .header-item {
	border-bottom-color: black;
}*/
.neon#homepage .back-button {
	color: white;
}
.neon#homepage .title,
.neon#homepage .mission {
	color: white;
	text-align: center;
	font-weight: bold;
	width: 100%;
}
.neon#homepage .title {
	font-size: 5em;
	text-shadow: #db0a5b 1px 0px 1px, #db0a5b 0px -1px 0px, #db0a5b -1px 0px 0px, #db0a5b 0px 1px 0px;
}
.neon#homepage .missionstatement-wrapper {
	margin-bottom: 80px;
}
.neon#homepage .mission {
	font-size: 2.5em;
	text-shadow: #65a96f 1px 0px 1px, #65a96f 0px -1px 0px, #65a96f -1px 0px 0px, #65a96f 0px 1px 0px;
}
.neon#homepage #homepage-footer {
	margin-top: 50px;
}
.neon#homepage .topic {
	width: 30%;
	margin: 0 auto;
	min-width: 200px;
	max-width: 300px;
	display: inline-block;
	transition: 1s;
}
.neon#homepage .topic-icon {
	display: block;
	text-align: center;
	width: 100%;
	transition: 1s;
}
.neon#homepage .topic:hover .topic-icon {
	margin-bottom: 40px;
	transform: scale( 1.1 );
}
.neon#homepage .topic-name {
	font-size: 2em;
	color: white;
	text-shadow: #65a96f 1px 0px 1px, #65a96f 0px -1px 0px, #65a96f -1px 0px 0px, #65a96f 0px 1px 0px;
	margin-top: 0;
	transition: 1s;
}
.neon#homepage .topic:hover .topic-name {
	opacity: 0.6;
	transform: scale( 0.8 );
}
.neon#homepage .topic-description {
	display: none;
}
.neon#homepage .topic-icon {
	background-image: url( "/img/pinkrocket.png" );
	background-repeat: no-repeat;
	background-size: cover;
	width: 100px;
	height: 164px;
	margin: 0 auto;
}
.neon#homepage .topic-design .topic-icon {
	background-image: url( "/img/pinkrocket.png" );
}
.neon#homepage .topic-music .topic-icon {
	background-image: url( "/img/bluerocket.png" );
}
.neon#homepage .topic-random .topic-icon {
	background-image: url( "/img/greenrocket.png" );
}
.neon#homepage .topic .topic-name > i {
	background-repeat: no-repeat;
	background-size: cover;
	width: 182px;
	height: 62px;
	display: block;
	margin: 0 auto;
}
.neon#homepage .topic-design .topic-name > i {
	background-image: url("/img/designtitle.png");
}
.neon#homepage .topic-music .topic-name > i {
	background-image: url("/img/musictitle.png");
}
.neon#homepage .topic-random .topic-name > i {
	background-image: url("/img/webtitle.png");
	width: 142px;
	height: 62px;
}
@media ( min-width: 769px ) {
	.neon#homepage ion-nav-bar {
		display: none;
	}
	.neon#homepage ion-content.has-header {
    top: 0;
	}
}


/**
 * Neon theme - user page
 */
#userpage {
}
#userpage .scroll {
	/*width: 100%;*/
}
#my_resources > ion-list > div.list,
#my_launchlists > ion-list > div.list {
	position: relative;
  padding-top: 82px;
	/*overflow: scroll;*/
	/*height: 500px;*/
}
#userpage .row.item.item-header {
	/*width: auto;*/
	padding: 10px;
}
#userpage .item.item-header {
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100.3%;
	z-index: 3;
}
#userpage #userpage div.title.title-center.header-item {
  text-transform: capitalize;
}

/*#my_resources a.overlay {*/
/*  left: -50px;*/
/*}*/
#my_resources button.add_resource {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  min-width: 50px;
  transition: 0.5s;
  z-index: 100;
}
#my_resources button.add_resource:hover {
  transform: scale(0.9);   
  /*background-color: pink;*/
  right: -10px;
}

#launchlist h1.launchlist-name {
  color: white;
  text-transform: capitalize;
}


/**
 * Neon theme - modals
 */
.neon.modal {
	background: transparent;
	max-width: 600PX;
}
.neon.modal .bar-header {
	background: transparent;
}
.neon.modal .title {
	margin: 0 auto;
	background-color: #db0a5b;
	padding: 15px 25px;
	font-size: 40px;
	border-radius: 10px;
	box-shadow: #5d5d5f 0px 5px 0;
	color: white;
	position: relative;
	width: 100%;
	text-align: center;
}
.neon.modal .title::before {
	position: absolute;
  content: '';
  bottom: -50px;
  left: 44%;
  background: transparent;
  border: transparent solid 25px;
  border-top-color: #5d5d5f;
}
.neon.modal .title::after {
	position: absolute;
	content: '';
	bottom: -40px;
  left: 45%;
	border: transparent solid 20px;
	border-top-color: #db0a5b;
}
.neon.modal .button-close {
	color: white;
	background-color: #5d5d5f;
	border: 2px solid #780532;
	border-radius: 50%;
	width: 35px;
}
.neon.modal form {
	padding: 20px 15px;
	background-color: black;
	border-radius: 10px;
	margin-top: 25px;
	color: white;
	box-shadow: white 0px 5px 0;
	margin-bottom: 10px;
	border: 2px solid white;
	border-bottom-color: white;
}
.neon.modal form .list-inset {
	background: transparent;
}
.neon.modal form .list-inset .item-input {
	background-color: #d2d7d3;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
}
.neon.modal form textarea,
.neon.modal form input  {
	background: transparent;
}
.neon.modal form .button-submit {
	color: #abb7b7;
	background-color: #5e6464;
	border: 3px solid #780532;
	margin: 0 auto;
	display: block;
	font-size: 25px;
	font-weight: bold;
	transition: 1s;
}
.neon.modal form .button-submit:hover {
	background-color: #780532;
	border-color: #5e6464;
}
.neon.modal form .button-quarter {
	min-width: 110px;
}
.neon.modal ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #abb7b7;
	font-size: 20px;
	font-weight: bold;
}
.neon.modal ::-moz-placeholder { /* Firefox 19+ */
  color: #abb7b7;
	font-size: 20px;
	font-weight: bold;
}
.neon.modal :-ms-input-placeholder { /* IE 10+ */
  color: #abb7b7;
	font-size: 20px;
	font-weight: bold;
}
.neon.modal :-moz-placeholder { /* Firefox 18- */
  color: #abb7b7;
	font-size: 20px;
	font-weight: bold;
}
.neon.modal textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	padding-top: 30px;
}
.neon.modal textarea::-moz-placeholder { /* Firefox 19+ */
	padding-top: 30px;
}
.neon.modal textarea:-ms-input-placeholder { /* IE 10+ */
	padding-top: 30px;
}
.neon.modal textarea:-moz-placeholder { /* Firefox 18- */
	padding-top: 30px;
}
.neon.modal .item-checkbox {
	border: none;
	background: transparent;
  color: #abb7b7;
	cursor: pointer;
}
.neon.modal .checkbox input:checked:before,
.neon.modal .checkbox input:checked + .checkbox-icon:before {
  background-color: #5e6464;
	border-width: 3px;
  border-color: #780532;
	transition: 0.5s;
	border-radius: 5px;
}
.neon.mdoal .checkbox input:before,
.neon.modal .checkbox-icon:before {
	background-color: #5e6464;
	border-radius: 5px;
	transition: 0.5s;
}
.neon.modal .checkbox span {
  border-bottom: 2px solid #6b344b;
}

/**
 * Neon theme - icons
 */
.neon button.icon {
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
	transition: 1s;
}
.neon  button.icon:hover {
	transform: scale(1.2);
}
.neon  button.icon-fb {
	background-image: url("/img/fb.png");
}
.neon  button.icon-twitter {
	background-image: url("/img/twitter.png");
}
